#!/usr/bin/make -f

include /usr/share/cdbs/1/class/perlmodule.mk
include /usr/share/cdbs/1/class/ppb.mk

PACKAGE=$(shell dh_listpackages)

install/$(PACKAGE)::
	mkdir -p debian/$(PACKAGE)/usr/share/stream/
	cp -r catalog/* debian/$(PACKAGE)/usr/share/stream/
